<% var title = schema.name %>
<% include ../head %>
<style>
table {
    border-collapse: collapse;
}
table tr {
    border-bottom: 1px solid #ccc;
}
th {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: normal;
}
th, td {
    padding-right: 40px;
}
</style>
<% include ../head1 %>
<% include ../nav %>

<h1><%-schema.name%></h1>
<div class="list">
    <table>
        <tr>
<% for(var i=0; i < fields.length; i++) { %>
            <th><%- fields[i].name %></th>
<% } %>
            <th></th>
        </th>
<% for(var i=0; i < list.length; i++) { %>
        <tr>
<% for(var j=0; j < fields.length; j++) { %>
            <td><%- list[i][fields[j].name] %></td>
<% } %>
            <td><a href="<%= list[i].url() %>" class="btn small">edit</a></td>
        </tr>
<% } %>
    </table>
</div>

<a href="/create/<%-schema._id%>" class="btn">create</a>
<% include ../foot %>


